@model TrashCollectorV2.Models.ViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Account.Balance)
        </dt>
        <dd class="col-sm-9">
            $@Html.DisplayFor(model => model.Account.Balance)
        </dd>
    </dl>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.PickupDay)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.PickupDay)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.OneTimePickup)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.OneTimePickup.Date)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.StartSuspend)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.StartSuspend.Date)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.EndSuspend)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.EndSuspend.Date)
            </dd>
        </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Index">Home</a>
</div>
