@model TrashCollectorV2.Models.ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type='text/javascript' src='keys.js'></script>
    <script type='text/javascript' src='site.js'></script>

<h1>Welcome, @Model.Employee.Name</h1>
<br />
<h4>Today's Pickups in Area @Model.Employee.ZipCode</h4>
<br />
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Address.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Address.City)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerList)
        {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="ConfirmPickup" asp-route-accountId="@item.AccountId">Confirm Pickup</a>
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="CustomerDetails" asp-route-customerId="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<br/>
<a class="btn btn-outline-primary" asp-action="FilterByDay">Filter By Day</a>
